/*
 * Seeed Studio T1000-E Tracker device tree overlay for LICHEN bridge
 *
 * nRF52840 + Semtech LR1110 (LR1100-compatible)
 *
 * LR1110 SPI pins:
 *   SCK  = P0.11
 *   MISO = P1.08
 *   MOSI = P1.09
 *   NSS  = P0.12
 *
 * LR1110 control pins:
 *   RESET = P1.10
 *   BUSY  = P0.07
 *   DIO1  = P1.01 (IRQ)
 *
 * Note: LR1110 also has GNSS/WiFi scanning capabilities.
 * These features require additional driver support beyond basic LoRa.
 *
 * GNSS UART (AG3335 GPS module):
 *   RX = P0.14
 *   TX = P0.13
 *   GPS_EN = P1.11
 *   GPS_RST = P1.15
 *
 * Sensors (I2C):
 *   SDA = P0.26
 *   SCL = P0.27
 *   Accelerometer power = P1.07
 *   Sensor power = P1.06
 *   Temperature = P0.31 (analog NTC)
 *   Light = P0.29 (analog LUX)
 *
 * Other peripherals:
 *   Button = P0.06
 *   LED = P0.24
 *   Buzzer PWM = P0.25
 *   Buzzer EN = P1.05
 */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    aliases {
        led0 = &green_led;
        lora0 = &lora;
    };

    leds {
        compatible = "gpio-leds";
        green_led: led_0 {
            gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
            label = "Green LED";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "User Button";
        };
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/* LR1110 on SPI1 */
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;  /* P0.12 = NSS */

    lora: lr1100@0 {
        /*
         * LR1110/LR1100 placeholder compatible string.
         * The LR1100 Zephyr driver is being developed externally.
         * Falls back to sx126x API for basic LoRa, but GNSS/WiFi
         * scanning requires native LR1110 driver support.
         */
        compatible = "semtech,lr1100";
        reg = <0>;
        spi-max-frequency = <8000000>;
        reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;  /* P1.10 = RST */
        busy-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;   /* P0.07 = BUSY */
        dio1-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;   /* P1.01 = DIO1/IRQ */
        /* DIO2 controls RF switch internally */
        dio2-tx-enable;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 11)>,   /* P0.11 = SCK */
                    <NRF_PSEL(SPIM_MISO, 1, 8)>,   /* P1.08 = MISO */
                    <NRF_PSEL(SPIM_MOSI, 1, 9)>;   /* P1.09 = MOSI */
        };
    };
};

/*
 * GPS UART - AG3335 GNSS module
 * Directly connected to nRF52840 UART1.
 * Enable with GPS_EN (P1.11), reset with GPS_RST (P1.15).
 *
 * Uncomment when GPS support is added:
 *
 * &uart1 {
 *     status = "okay";
 *     current-speed = <9600>;
 *     pinctrl-0 = <&uart1_default>;
 *     pinctrl-names = "default";
 * };
 *
 * Add to &pinctrl:
 *     uart1_default: uart1_default {
 *         group1 {
 *             psels = <NRF_PSEL(UART_TX, 0, 13)>,
 *                     <NRF_PSEL(UART_RX, 0, 14)>;
 *         };
 *     };
 */
